{
  "openapi": "3.0.3",
  "info": {
    "title": "Connect v3",
    "version": "3.0.0",
    "description": "Public API gateway for AgendaPro.\nAuthenticates external developers, enforces rate limits and scopes, and proxies requests to internal services.\n\n## Authentication\n\nAll requests require a Bearer API key in the `Authorization` header:\n\n```\nAuthorization: Bearer <your-api-key>\n```\n\nAPI keys are scoped to a single company. The `company_id` is derived automatically\nfrom the API key \u2014 you never pass it as a parameter.\n\n## Scopes\n\nAPI keys may be restricted to specific scopes. Scopes follow the pattern `{resource}:{action}`:\n\n| Scope | Description |\n| --- | --- |\n| `bookings:read` | List and show bookings |\n| `bookings:write` | Create, update, and cancel bookings |\n| `clients:read` | List and show clients |\n| `clients:write` | Create and update clients |\n| `locations:read` | List and show locations |\n| `services:read` | List and show services |\n| `providers:read` | List and show providers |\n| `custom_attributes:read` | List custom attribute templates |\n| `sales:read` | List and show sales |\n\nAn API key with empty scopes has full access (all scopes granted).\n\n## Rate Limiting\n\nTwo rate limits apply per company:\n\n- **Burst limit**: Maximum requests per minute.\n- **Daily quota**: Maximum requests per day.\n\nRate limit status is returned in response headers:\n\n| Header | Description |\n| --- | --- |\n| `X-RateLimit-Limit` | Daily quota limit |\n| `X-RateLimit-Remaining` | Daily requests remaining |\n| `X-RateLimit-Reset` | Unix timestamp when daily quota resets |\n| `X-RateLimit-Burst-Limit` | Burst (per-minute) limit |\n| `X-RateLimit-Burst-Remaining` | Burst requests remaining |\n| `X-RateLimit-Burst-Reset` | Unix timestamp when burst window resets |\n\nWhen either limit is exceeded, the API returns `429 Too Many Requests` with a `Retry-After` header.\n\n## Pagination\n\nList endpoints return paginated responses wrapped in a `data` array with a `pagination` metadata object:\n\n```json\n{\n  \"data\": [...],\n  \"pagination\": {\n    \"current_page\": 1,\n    \"per_page\": 30,\n    \"next_page\": null,\n    \"prev_page\": null,\n    \"total_records\": 95,\n    \"total_pages\": 4\n  }\n}\n```\n\n## Errors\n\nAll error responses use a consistent `{error, detail}` format:\n\n```json\n{\n  \"error\": \"error_type\",\n  \"detail\": \"additional_context\"\n}\n```\n"
  },
  "servers": [
    {
      "url": "https://connect.agendapro.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Available Slots",
      "description": "Query available booking slots for a service at a location"
    },
    {
      "name": "Bookings",
      "description": "Booking management (list, show, create, update, cancel)"
    },
    {
      "name": "Clients",
      "description": "Client management (list, show, create, update) and custom attributes"
    },
    {
      "name": "Custom Attributes",
      "description": "Custom attribute templates (company-level definitions)"
    },
    {
      "name": "Locations",
      "description": "Location listing and details"
    },
    {
      "name": "Services",
      "description": "Service catalog listing and details"
    },
    {
      "name": "Providers",
      "description": "Service provider listing and details"
    },
    {
      "name": "Sales",
      "description": "Sales records (read-only)"
    },
    {
      "name": "Carts",
      "description": "Shopping carts for the online payment flow"
    },
    {
      "name": "Payment Requests",
      "description": "Online payment requests (checkout URL) on a cart"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/v3/available_slots": {
      "get": {
        "operationId": "listAvailableSlots",
        "summary": "List Available Slots",
        "description": "Returns available booking slots for a service at a location on a given date.\n\nResults are grouped into a `slots` array and a `metadata` object.\nThe `slots` array contains individual time windows; `metadata` summarises the query.\n\n### Important Notes\n\n- Results are scoped to the company associated with the API key.\n- `location_id` and `start_date` are required.\n- Requires `bookings:read` scope.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:read` scope. |\n| 404 | location_not_found |  | Location not found or does not belong to the company. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Available Slots"
        ],
        "parameters": [
          {
            "name": "location_id",
            "in": "query",
            "description": "Location ID to query slots for.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Date to query slots for (YYYY-MM-DD).",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-04-08"
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "description": "Filter by service ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "description": "Filter by provider ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available slots returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "slots": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AvailableSlot"
                          }
                        },
                        "metadata": {
                          "$ref": "#/components/schemas/AvailableSlotsMetadata"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": {
                    "slots": [
                      {
                        "start_time": "09:00",
                        "end_time": "09:30",
                        "provider_id": 12964,
                        "provider_name": "Dobby"
                      },
                      {
                        "start_time": "09:30",
                        "end_time": "10:00",
                        "provider_id": 12964,
                        "provider_name": "Dobby"
                      }
                    ],
                    "metadata": {
                      "location_id": 3257,
                      "date": "2026-04-08",
                      "service_id": 3698,
                      "duration": 30,
                      "slots_count": 22
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/bookings": {
      "get": {
        "operationId": "listBookings",
        "summary": "List Bookings",
        "description": "This endpoint returns a paginated list of bookings for the company.\n\n### Important Notes\n\n- Results are scoped to the company associated with the API key.\n- At least one entity filter is required: `client_id`, `location_id`, `service_id`, or `service_provider_id`. The `start_date`/`end_date` parameters narrow results further but do not satisfy this requirement on their own.\n- Requires `bookings:read` scope.\n- `sale` may be the sale of a membership plan, which covers several bookings. Do not aggregate amounts by `sale.id`.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 400 | required | params | No entity filter provided. Supply at least one of `client_id`, `location_id`, `service_id`, or `service_provider_id`. |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter by client ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "Filter by location ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "description": "Filter by service ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "service_provider_id",
            "in": "query",
            "description": "Filter by service provider ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "scheduled",
            "in": "query",
            "description": "Filter by scheduled status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status_id",
            "in": "query",
            "description": "Filter by status ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "description": "Filter bookings from this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "description": "Filter bookings until this date (YYYY-MM-DD).",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of bookings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingListResponse"
                },
                "examples": {
                  "bookingList": {
                    "summary": "[Success] 200 OK - Booking list",
                    "value": {
                      "data": [
                        {
                          "id": 12345,
                          "start_time": "2026-03-10T10:00:00-03:00",
                          "end_time": "2026-03-10T10:30:00-03:00",
                          "status_id": 1,
                          "status": {
                            "id": 1,
                            "name": "Confirmed",
                            "internal_name": "confirmed",
                            "description": null
                          },
                          "service_id": 10,
                          "service": {
                            "id": 10,
                            "name": "Haircut"
                          },
                          "service_provider_id": 5,
                          "service_provider": {
                            "id": 5,
                            "public_name": "John Stylist"
                          },
                          "client_id": 42,
                          "location_id": 1,
                          "location": {
                            "id": 1,
                            "name": "Sucursal Providencia"
                          },
                          "price": "15000.0",
                          "list_price": "15000.0",
                          "discount": null,
                          "notes": null,
                          "scheduled": true,
                          "time_resource_id": null,
                          "company_id": 100,
                          "sale": {
                            "id": 8842,
                            "status": "paid",
                            "cart_id": 9310
                          },
                          "created_at": "2026-03-09T14:00:00-03:00",
                          "updated_at": "2026-03-09T14:00:00-03:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 1,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createBooking",
        "summary": "Create Booking",
        "description": "This endpoint creates a new booking.\n\n### Important Notes\n\n- Requires `bookings:write` scope.\n- Notifications (email, SMS, WhatsApp) are disabled for bookings created via the public API.\n- The `creative_source` is automatically set to `connect`.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:write` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Bookings"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingRequest"
              },
              "examples": {
                "createBooking": {
                  "summary": "[Request] Create a booking",
                  "value": {
                    "start_time": "2026-03-10T10:00:00-03:00",
                    "end_time": "2026-03-10T10:30:00-03:00",
                    "service_id": 10,
                    "provider_id": 5,
                    "client_id": 42,
                    "location_id": 1,
                    "status_id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                },
                "examples": {
                  "bookingCreated": {
                    "summary": "[Success] 201 Created - Booking created",
                    "value": {
                      "id": 12345,
                      "start_time": "2026-03-10T10:00:00-03:00",
                      "end_time": "2026-03-10T10:30:00-03:00",
                      "status_id": 1,
                      "status": {
                        "id": 1,
                        "name": "Confirmed",
                        "internal_name": "confirmed",
                        "description": null
                      },
                      "service_id": 10,
                      "service": {
                        "id": 10,
                        "name": "Haircut"
                      },
                      "service_provider_id": 5,
                      "service_provider": {
                        "id": 5,
                        "public_name": "John Stylist"
                      },
                      "client_id": 42,
                      "location_id": 1,
                      "location": {
                        "id": 1,
                        "name": "Sucursal Providencia"
                      },
                      "price": "15000.0",
                      "list_price": "15000.0",
                      "discount": null,
                      "notes": null,
                      "scheduled": true,
                      "time_resource_id": null,
                      "company_id": 100,
                      "sale": null,
                      "created_at": "2026-03-09T14:00:00-03:00",
                      "updated_at": "2026-03-09T14:00:00-03:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/bookings/{id}": {
      "get": {
        "operationId": "getBooking",
        "summary": "Get Booking",
        "description": "This endpoint returns a single booking by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:read` scope. |\n| 404 | not_found | booking | Booking not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookingId"
          }
        ],
        "responses": {
          "200": {
            "description": "Booking found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                },
                "examples": {
                  "bookingFound": {
                    "summary": "[Success] 200 OK - Booking found",
                    "value": {
                      "id": 12345,
                      "start_time": "2026-03-10T10:00:00-03:00",
                      "end_time": "2026-03-10T10:30:00-03:00",
                      "status_id": 1,
                      "status": {
                        "id": 1,
                        "name": "Confirmed",
                        "internal_name": "confirmed",
                        "description": null
                      },
                      "service_id": 10,
                      "service": {
                        "id": 10,
                        "name": "Haircut"
                      },
                      "service_provider_id": 5,
                      "service_provider": {
                        "id": 5,
                        "public_name": "John Stylist"
                      },
                      "client_id": 42,
                      "location_id": 1,
                      "location": {
                        "id": 1,
                        "name": "Sucursal Providencia"
                      },
                      "price": "15000.0",
                      "list_price": "15000.0",
                      "discount": null,
                      "notes": null,
                      "scheduled": true,
                      "time_resource_id": null,
                      "company_id": 100,
                      "sale": {
                        "id": 8842,
                        "status": "paid",
                        "cart_id": 9310
                      },
                      "created_at": "2026-03-09T14:00:00-03:00",
                      "updated_at": "2026-03-09T14:00:00-03:00"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateBooking",
        "summary": "Update Booking",
        "description": "This endpoint updates an existing booking. Only provided fields are updated (partial update).\n\n### Customer policy enforcement\n\nUpdates are validated against the merchant's customer policy before being applied. If the merchant has disabled edits, the booking is too close to its start time, or it has reached its maximum number of changes, the request is rejected with `422 restricted` and the `detail` field identifies which rule tripped:\n\n| **Detail** | **Meaning** |\n| --- | --- |\n| `can_edit` | Merchant disabled edits via the customer flow. |\n| `before_edit_booking` | Booking is within the merchant's pre-start lock window (no edits allowed this close to `start_time`). |\n| `max_changes` | Booking already reached the merchant's maximum number of changes. |\n\nThese values are configured by the merchant in **[Configuraciones > Sitio web > Edici\u00f3n y cancelaci\u00f3n de reservas en l\u00ednea](https://app.agendapro.com/company_settings/bookings)**.\n\nClients integrating against this API should surface these conditions to their end users as \"the merchant does not allow this change\" rather than retrying the request.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:write` scope. |\n| 404 | not_found | booking | Booking not found. |\n| 422 | restricted | can_edit | Merchant has disabled edits via the customer flow. |\n| 422 | restricted | before_edit_booking | Booking is within the merchant's pre-start lock window. |\n| 422 | restricted | max_changes | Booking has reached the merchant's maximum number of changes. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookingId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookingRequest"
              },
              "examples": {
                "rescheduleBooking": {
                  "summary": "[Request] Reschedule a booking",
                  "value": {
                    "start_time": "2026-03-11T14:00:00-03:00",
                    "end_time": "2026-03-11T14:30:00-03:00"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Booking updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Booking"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Update rejected by the merchant's customer policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetailResponse"
                },
                "examples": {
                  "canEdit": {
                    "summary": "[Error] 422 - Merchant disabled edits",
                    "value": {
                      "error": "restricted",
                      "detail": "can_edit"
                    }
                  },
                  "beforeEditBooking": {
                    "summary": "[Error] 422 - Inside pre-start lock window",
                    "value": {
                      "error": "restricted",
                      "detail": "before_edit_booking"
                    }
                  },
                  "maxChanges": {
                    "summary": "[Error] 422 - Maximum changes reached",
                    "value": {
                      "error": "restricted",
                      "detail": "max_changes"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/bookings/{id}/cancel": {
      "patch": {
        "operationId": "cancelBooking",
        "summary": "Cancel Booking",
        "description": "This endpoint cancels a booking.\n\n### Customer policy enforcement\n\nCancellations are validated against the merchant's customer policy before being applied. If the merchant has disabled cancellations, the booking is too close to its start time, or it has reached its maximum number of changes, the request is rejected with `422 restricted` and the `detail` field identifies which rule tripped:\n\n| **Detail** | **Meaning** |\n| --- | --- |\n| `can_cancel` | Merchant disabled cancellations via the customer flow. |\n| `before_edit_booking` | Booking is within the merchant's pre-start lock window (no cancellations allowed this close to `start_time`). |\n| `max_changes` | Booking already reached the merchant's maximum number of changes. |\n\nThese values are configured by the merchant in **[Configuraciones > Sitio web > Edici\u00f3n y cancelaci\u00f3n de reservas en l\u00ednea](https://app.agendapro.com/company_settings/bookings)**.\n\nClients integrating against this API should surface these conditions to their end users as \"the merchant does not allow this cancellation\" rather than retrying the request.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `bookings:write` scope. |\n| 404 | not_found | booking | Booking not found. |\n| 422 | restricted | can_cancel | Merchant has disabled cancellations via the customer flow. |\n| 422 | restricted | before_edit_booking | Booking is within the merchant's pre-start lock window. |\n| 422 | restricted | max_changes | Booking has reached the merchant's maximum number of changes. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/BookingId"
          }
        ],
        "responses": {
          "204": {
            "description": "Booking cancelled."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Cancellation rejected by the merchant's customer policy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetailResponse"
                },
                "examples": {
                  "canCancel": {
                    "summary": "[Error] 422 - Merchant disabled cancellations",
                    "value": {
                      "error": "restricted",
                      "detail": "can_cancel"
                    }
                  },
                  "beforeEditBooking": {
                    "summary": "[Error] 422 - Inside pre-start lock window",
                    "value": {
                      "error": "restricted",
                      "detail": "before_edit_booking"
                    }
                  },
                  "maxChanges": {
                    "summary": "[Error] 422 - Maximum changes reached",
                    "value": {
                      "error": "restricted",
                      "detail": "max_changes"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/clients": {
      "get": {
        "operationId": "listClients",
        "summary": "List Clients",
        "description": "This endpoint returns a paginated list of clients for the company.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of clients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientListResponse"
                },
                "examples": {
                  "clientList": {
                    "summary": "[Success] 200 OK - Client list",
                    "value": {
                      "data": [
                        {
                          "id": 223190,
                          "first_name": "Maria",
                          "last_name": "Lopez",
                          "email": "maria.lopez@example.com",
                          "phone": "+56912345678",
                          "second_phone": null,
                          "identification_number": "12345678-9",
                          "address": "Av. Providencia 1234",
                          "district": "Providencia",
                          "city": "Santiago",
                          "region": "RM",
                          "age": 30,
                          "gender": 1,
                          "birth_day": 15,
                          "birth_month": 6,
                          "birth_year": 1995,
                          "record_number": "C-0001",
                          "photo": null,
                          "nationality": null,
                          "phone_country": "CL",
                          "active": true,
                          "custom_attributes": [],
                          "created_at": "2025-01-01T12:00:00-03:00",
                          "updated_at": "2025-06-15T09:30:00-03:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 1,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createClient",
        "summary": "Create Client",
        "description": "This endpoint creates a new client for the company.\n\n### Important Notes\n\n- At least one of `last_name`, `email`, or `phone` is required by business logic.\n- Email is normalized to lowercase.\n- Phone must follow E.164 format.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:write` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequest"
              },
              "examples": {
                "createClient": {
                  "summary": "[Request] Create a client",
                  "value": {
                    "first_name": "Maria",
                    "last_name": "Lopez",
                    "email": "maria.lopez@example.com",
                    "phone": "+56912345678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/clients/quick-search": {
      "get": {
        "operationId": "quickSearchClients",
        "summary": "Quick Search Clients",
        "description": "This endpoint returns a small, ranked list of clients matching a free-text query.\nIt searches by name, email, phone, identification number, and record number, and is\nintended for type-ahead / autocomplete use cases.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:read` scope. |\n| 400 | bad_request | missing_q | Query string `q` is required. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Free-text search query (max 50 characters).",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 50,
              "example": "maria"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (defaults to 10, max 25).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 25,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ranked list of matching clients.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientQuickSearchResponse"
                },
                "examples": {
                  "clientQuickSearch": {
                    "summary": "[Success] 200 OK - Quick search results",
                    "value": {
                      "data": [
                        {
                          "id": 223190,
                          "full_name": "Maria Lopez",
                          "email": "maria.lopez@example.com",
                          "phone": "+56912345678",
                          "identification_number": "12345678-9",
                          "record_number": "C-0001"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query string `q` is required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetailResponse"
                },
                "examples": {
                  "missingQuery": {
                    "summary": "[Error] 400 - Missing q",
                    "value": {
                      "error": "missing_q"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/clients/{id}": {
      "get": {
        "operationId": "getClient",
        "summary": "Get Client",
        "description": "This endpoint returns a single client by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:read` scope. |\n| 404 | not_found | client | Client not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Client found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateClient",
        "summary": "Update Client",
        "description": "This endpoint updates an existing client. Only provided fields are updated (partial update).\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:write` scope. |\n| 404 | not_found | client | Client not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientRequest"
              },
              "examples": {
                "updateClient": {
                  "summary": "[Request] Update client email",
                  "value": {
                    "email": "maria.new@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Client updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/clients/{id}/deactivate": {
      "patch": {
        "operationId": "deactivateClient",
        "summary": "Deactivate Client",
        "description": "This endpoint deactivates (soft deletes) a client.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:write` scope. |\n| 404 | not_found | client | Client not found. |\n| 422 | unprocessable_entity | client_already_deactivated | Client is already deactivated. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "204": {
            "description": "Client deactivated."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Client is already deactivated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetailResponse"
                },
                "examples": {
                  "alreadyDeactivated": {
                    "summary": "[Error] 422 - Client already deactivated",
                    "value": {
                      "error": "client_already_deactivated"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/clients/{id}/custom_attributes": {
      "get": {
        "operationId": "listClientCustomAttributes",
        "summary": "List Client Custom Attributes",
        "description": "Returns the custom attribute values for a specific client. These are the values that fill the templates returned by `GET /v3/custom_attributes`.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `clients:read` scope. |\n| 404 | not_found | client | Client not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Clients"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Custom attributes for the client.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomAttribute"
                  }
                },
                "examples": {
                  "customAttributes": {
                    "summary": "[Success] 200 OK - Custom attributes",
                    "value": [
                      {
                        "id": 1,
                        "name": "Preferred stylist",
                        "datatype": "text",
                        "value": "John"
                      },
                      {
                        "id": 2,
                        "name": "VIP",
                        "datatype": "boolean",
                        "value": "true"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/custom_attributes": {
      "get": {
        "operationId": "listCustomAttributeTemplates",
        "summary": "List Custom Attribute Templates",
        "description": "Returns the custom attribute templates configured for the company.\nThese define which custom attributes can be set on clients.\n\nUse template `id` values when setting `custom_attributes` on client create/update.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `custom_attributes:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Custom Attributes"
        ],
        "responses": {
          "200": {
            "description": "List of custom attribute templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomAttributeTemplate"
                  }
                },
                "examples": {
                  "templates": {
                    "summary": "[Success] 200 OK - Custom attribute templates",
                    "value": [
                      {
                        "id": 1,
                        "name": "Preferred stylist",
                        "datatype": "text",
                        "order": 1,
                        "description": "Pick your stylist",
                        "mandatory": false,
                        "attribute_group": {
                          "id": 10,
                          "name": "Preferences",
                          "order": 1
                        },
                        "attribute_categories": []
                      },
                      {
                        "id": 2,
                        "name": "Hair type",
                        "datatype": "categoric",
                        "order": 2,
                        "description": null,
                        "mandatory": true,
                        "attribute_group": null,
                        "attribute_categories": [
                          {
                            "id": 100,
                            "category": "Curly",
                            "order": 1
                          },
                          {
                            "id": 101,
                            "category": "Straight",
                            "order": 2
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "List Locations",
        "description": "This endpoint returns a paginated list of locations for the company.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `locations:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of locations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationListResponse"
                },
                "examples": {
                  "locationList": {
                    "summary": "[Success] 200 OK - Location list",
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "uuid": "loc-uuid-1",
                          "name": "Sucursal Providencia",
                          "active": true,
                          "address": {
                            "route": "Av. Providencia",
                            "street_number": "1234",
                            "locality": "Providencia",
                            "administrative_area_level_1": "Regi\u00f3n Metropolitana",
                            "country": "Chile"
                          },
                          "phone": "+56912345678",
                          "email": "providencia@example.com",
                          "latitude": -33.4255,
                          "longitude": -70.6101,
                          "timezone": "America/Santiago",
                          "image": {
                            "id": 1,
                            "url": "https://cdn.example.com/locations/1.jpg"
                          },
                          "image_map": null,
                          "company": {
                            "id": 100,
                            "name": "Spa Relax"
                          },
                          "country": {
                            "id": 1,
                            "name": "Chile",
                            "timezone_name": "Santiago",
                            "timezone_offset": "-03:00"
                          },
                          "times": [
                            {
                              "id": 1,
                              "day_id": 1,
                              "open": "09:00",
                              "close": "18:00"
                            }
                          ],
                          "created_at": "2025-01-01T12:00:00-03:00",
                          "updated_at": "2025-06-15T09:30:00-03:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 1,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/locations/{id}": {
      "get": {
        "operationId": "getLocation",
        "summary": "Get Location",
        "description": "This endpoint returns a single location by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `locations:read` scope. |\n| 404 | not_found | location | Location not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Locations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/LocationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Location found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/services": {
      "get": {
        "operationId": "listServices",
        "summary": "List Services",
        "description": "This endpoint returns a paginated list of services for the company.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `services:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "in": "query",
            "description": "Filter by provider ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of services.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceListResponse"
                },
                "examples": {
                  "serviceList": {
                    "summary": "[Success] 200 OK - Service list",
                    "value": {
                      "data": [
                        {
                          "id": 10,
                          "uuid": "svc-uuid-1",
                          "name": "Corte clasico",
                          "active": true,
                          "price": "15000",
                          "discount": "0.0",
                          "has_discount": false,
                          "duration": 30,
                          "description": "Classic haircut service",
                          "type": "service",
                          "online_booking": true,
                          "online_payment": {
                            "mode": "NOT_AVAILABLE",
                            "amount": null
                          },
                          "outcall": false,
                          "is_video": false,
                          "category": {
                            "id": 1,
                            "name": "Hair"
                          },
                          "image": {
                            "id": 55,
                            "url": "https://cdn.example.com/services/10/img1.jpg"
                          },
                          "location_id": 1,
                          "company_id": 100,
                          "favorite": true,
                          "created_at": "2025-01-01T12:00:00-03:00",
                          "updated_at": "2025-06-15T09:30:00-03:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 1,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/services/{id}": {
      "get": {
        "operationId": "getService",
        "summary": "Get Service",
        "description": "This endpoint returns a single service by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `services:read` scope. |\n| 404 | not_found | service | Service not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ServiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Service found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List Categories",
        "description": "This endpoint returns a paginated list of service categories for the company,\nordered by the `order` field ascending (ties broken by `id` ascending).\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `categories:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Services"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                },
                "examples": {
                  "categoryList": {
                    "summary": "[Success] 200 OK - Category list",
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "name": "Cortes",
                          "order": 1,
                          "created_at": "2025-01-15T10:30:00-03:00",
                          "updated_at": "2025-01-15T10:30:00-03:00"
                        },
                        {
                          "id": 2,
                          "name": "Coloracion",
                          "order": 2,
                          "created_at": "2025-01-15T10:30:00-03:00",
                          "updated_at": "2025-01-15T10:30:00-03:00"
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 2,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/providers": {
      "get": {
        "operationId": "listProviders",
        "summary": "List Providers",
        "description": "This endpoint returns a paginated list of service providers for the company.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `providers:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "name": "location_ids",
            "in": "query",
            "description": "Filter by location IDs (comma-separated).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "explode": true
          },
          {
            "name": "service_ids",
            "in": "query",
            "description": "Filter by service IDs (comma-separated).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            },
            "explode": true
          },
          {
            "name": "public_name",
            "in": "query",
            "description": "Filter by provider public name (partial match).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "Filter by active status.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Field to sort by.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Sort order (`asc` or `desc`).",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (defaults to 1).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page (defaults to 30, max 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderListResponse"
                },
                "examples": {
                  "providerList": {
                    "summary": "[Success] 200 OK - Provider list",
                    "value": {
                      "data": [
                        {
                          "id": 5,
                          "company_id": 100,
                          "location_id": 1,
                          "active": true,
                          "public_name": "John Stylist",
                          "online_booking": true,
                          "images": [],
                          "provider_open_days": true,
                          "provider_times": [
                            {
                              "day": "monday",
                              "start_time": "09:00",
                              "end_time": "18:00",
                              "breaks": [
                                {
                                  "start_time": "13:00",
                                  "end_time": "14:00"
                                }
                              ]
                            }
                          ]
                        }
                      ],
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 1,
                        "total_pages": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/providers/{id}": {
      "get": {
        "operationId": "getProvider",
        "summary": "Get Provider",
        "description": "This endpoint returns a single service provider by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `providers:read` scope. |\n| 404 | not_found | provider | Provider not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Providers"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProviderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Provider"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/sales": {
      "get": {
        "operationId": "listSales",
        "summary": "List Sales",
        "description": "This endpoint returns a paginated list of sales for the company.\n\n### Important Notes\n\n- Requires `sales:read` scope.\n- Sales are read-only via the public API.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `sales:read` scope. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "name": "paid_at_start",
            "in": "query",
            "description": "Filter by paid date range start (inclusive). Format: `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "paid_at_end",
            "in": "query",
            "description": "Filter by paid date range end (inclusive). Format: `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "Filter by location ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter by client ID.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Records per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sales.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleListResponse"
                },
                "examples": {
                  "saleList": {
                    "summary": "[Success] 200 OK - Sale list",
                    "value": {
                      "pagination": {
                        "current_page": 1,
                        "per_page": 30,
                        "next_page": null,
                        "prev_page": null,
                        "total_records": 2,
                        "total_pages": 1
                      },
                      "data": [
                        {
                          "id": 500,
                          "cart_id": 8842,
                          "client_id": 223190,
                          "pending_amount": "0.0",
                          "paid_amount": "50.0",
                          "status": "paid",
                          "paid_at": "2025-03-15T10:30:00Z",
                          "location": {
                            "id": 1,
                            "name": "Main Branch"
                          },
                          "transactions": [
                            {
                              "id": 300,
                              "amount": "50.0",
                              "created_at": "2025-03-15T10:30:00Z",
                              "paid_at": "2025-03-15T10:30:00Z",
                              "payment_method": {
                                "id": 10,
                                "type": "CompanyPaymentMethod",
                                "name": "Online Payment"
                              }
                            }
                          ],
                          "created_at": "2025-03-15T10:00:00Z",
                          "updated_at": "2025-03-15T10:30:00Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/sales/{id}": {
      "get": {
        "operationId": "getSale",
        "summary": "Get Sale",
        "description": "This endpoint returns a single sale by ID.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `sales:read` scope. |\n| 404 | not_found | sale | Sale not found. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Sales"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SaleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Sale found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sale"
                },
                "examples": {
                  "saleFound": {
                    "summary": "[Success] 200 OK - Sale found",
                    "value": {
                      "id": 500,
                      "cart_id": 8842,
                      "pending_amount": "0.0",
                      "paid_amount": "50.0",
                      "status": "paid",
                      "paid_at": "2025-03-15T10:30:00Z",
                      "location": {
                        "id": 1,
                        "name": "Main Branch"
                      },
                      "transactions": [
                        {
                          "id": 300,
                          "amount": "50.0",
                          "created_at": "2025-03-15T10:30:00Z",
                          "paid_at": "2025-03-15T10:30:00Z",
                          "payment_method": {
                            "id": 10,
                            "type": "CompanyPaymentMethod",
                            "name": "Online Payment"
                          }
                        }
                      ],
                      "created_at": "2025-03-15T10:00:00Z",
                      "updated_at": "2025-03-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/carts": {
      "post": {
        "operationId": "createCart",
        "summary": "Create Cart",
        "description": "Creates a shopping cart. The cart is the first step of the online payment\nflow: add items, then create a payment request on the cart to obtain a\ncheckout URL.\n\n### Important Notes\n\n- Requires `carts:write` scope.\n- **Online payments must be enabled for the company** to complete the flow. Carts can be created regardless, but payment request creation fails when online payments are disabled.\n- The cart always belongs to the authenticated company; any `company_id` sent in the body is ignored.\n- To sell a service and book it in the same flow, send an item with `item_type: \"service\"` and a single instance `{ \"instance_type\": \"booking\", \"reference_id\": null, \"data\": { \"start_time\": \"...\", \"provider_id\": ... } }`. The booking is created automatically when the payment request is created, and released automatically if the payment request expires or is cancelled.\n- `data.start_time` must be an ISO 8601 datetime in **UTC** (`Z` or `+00:00`, e.g. `2026-08-01T13:00:00Z`). Other offsets are accepted here but rejected when the booking is reserved at payment-request time (`invalid_start_time`).\n- `data.creative_source` cannot be set: it is always `connect` for the public API (any value sent is overridden).\n- Carts expire after 24 hours.\n- Item validation errors (400/422) from platform-sales are passed through unchanged; see the platform-sales carts documentation for the full dictionary.\n- Business errors proxied from platform-sales use legacy single-key codes (e.g. `cart_not_found`, `invalid_start_time`, `creative_source_not_public`) rather than the `{error, detail}` shape used by connect-level errors (auth, scope, rate limit).\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `carts:write` scope. |\n| 400, 422 | *(upstream)* |  | Item validation errors from platform-sales are passed through with legacy single-key codes (e.g. `item_invalid_type`, `invalid_start_time`, `creative_source_not_public`); see the platform-sales carts documentation for the full list. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Carts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartInput"
              },
              "examples": {
                "serviceWithBooking": {
                  "summary": "Service item with on-demand booking",
                  "value": {
                    "client_id": 223190,
                    "location_id": 1,
                    "items": [
                      {
                        "item_id": 10,
                        "item_type": "service",
                        "unit_price": "20000",
                        "quantity": 1,
                        "instances": [
                          {
                            "instance_type": "booking",
                            "reference_id": null,
                            "data": {
                              "start_time": "2026-08-01T10:00:00Z",
                              "provider_id": 5
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Cart created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/carts/{id}": {
      "get": {
        "operationId": "getCart",
        "summary": "Get Cart",
        "description": "Returns a single cart by ID. Only carts belonging to the authenticated\ncompany are visible; other carts return 404.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `carts:read` scope. |\n| 404 | cart_not_found |  | Cart not found for this company. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Carts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CartId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cart found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      },
      "patch": {
        "operationId": "updateCart",
        "summary": "Update Cart",
        "description": "Updates a cart's items or client. Only carts belonging to the\nauthenticated company can be updated; other carts return 404.\n\n### Important Notes\n\n- Requires `carts:write` scope.\n- Sending `items` replaces the full items array.\n- Any payment request in `pending` status on the cart is cancelled automatically before applying the update, and on-demand bookings reserved by it are released.\n- The cart must not be expired and must not have paid or partially paid sales.\n- Item validation errors (400/422) from platform-sales are passed through unchanged.\n\n### Errors Dictionary\n\n| **Status** | **Error** | **Detail** | **Description** |\n| --- | --- | --- | --- |\n| 401 | unauthorized | invalid_api_key | Missing or invalid Bearer token. |\n| 401 | unauthorized | api_config_inactive | API access is inactive for this company. |\n| 403 | forbidden | scope_denied | API key lacks `carts:write` scope. |\n| 404 | cart_not_found |  | Cart not found for this company. |\n| 422 | cart_expired |  | The cart has expired (older than 24 hours). |\n| 422 | cart_paid |  | The cart already has a paid sale. |\n| 400, 422 | *(upstream)* |  | Item validation errors from platform-sales are passed through with legacy single-key codes (e.g. `item_invalid_type`, `invalid_start_time`, `creative_source_not_public`); see the platform-sales carts documentation for the full list. |\n| 429 | rate_limited | burst_limit_exceeded | Per-minute request limit exceeded. |\n| 429 | rate_limited | daily_quota_exceeded | Daily request quota exceeded. |\n| 502 | upstream_unavailable |  | The upstream service is unavailable. |\n",
        "tags": [
          "Carts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CartId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartUpdateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/v3/carts/{id}/payment_requests": {
      "post": {
        "operationId": "createPaymentRequest",
        "summary": "Create Payment Request (online checkout)",
[...]
